@charset "utf-8";

header {
	background-image: url("../images/film.gif");
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
}

h1 {
	text-align: center;
	color: blue;
	letter-spacing: 3px;
}

#compararButton {
	position: absolute;
	right:300px;
}